<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shubham.learner" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="com.shubham.learner.AlgorithmVisualizerApp">
        <activity
            android:name="com.shubham.learner.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.shubham.learner.DonateActivity"/>
        <activity android:name="com.shubham.learner.SettingsActivity"/>

        <!--use your own api key for fabric-->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="@string/fabric_api_key" />
    </application>

</manifest>
